.hero-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 60px 0;
}

.hero-content {
    max-width: 500px;
    width: 100%;
}

.hero-heading {
    margin-top: -50px;
    font-size: 4rem;
}

.hero-secondHeading {
    font-size: 2rem;
    margin-top: -30px;
    padding-right: 5px;
}

.hero-paragraph {
 line-height: 2;
}

.hero-img-container {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.hero-img-container::after, .hero-img-container::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(from var(--angle), #FFA500, #FFFF00, #FFA500);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 50%;
    animation: 1.5s spin linear infinite;
}

.hero-img-container::before {
    filter: blur(1rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    } to {
        --angle: 360deg;
    }
}

@keyframes typing-bar {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.cursor {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 38px;
    background: white;
    animation: typing-bar 1.2s infinite;
}

.hero-secondHeading-container {
    position: relative;
    width: fit-content;
}

@media screen and (max-width: 1024px) {
    .hero-content {
        width: 90%;
    }

    .hero-heading {
        margin-top: -50;
        font-size: 2.5rem;
    }
    
    .hero-secondHeading {
        font-size: 1.5rem;
        margin-top: -18px;
    }
    
    .hero-paragraph {
     line-height: 1.5;
    }

    .hero-img-container {
        width: 300px;
        height: 300px;
        position: relative;
    }

    .hero-img-container::after, .hero-img-container::before {
        width: 300px;
        height: 300px;
    }
}